/* 
table.sublanguage-sub-options {
	width: 100%;
	border-collapse: collapse;
}
table.form-table {
	margin-bottom: 20px;
}
table.form-table td, table.form-table th {
	padding-top: 8px;
	padding-bottom: 8px;
}

table.form-table .sub-container {
	padding: 0 0 0 30px;
}

table.form-table th {
	vertical-align: middle;
}
table.form-table input.disabled {
	visibility: hidden;
}

table.form-table td.handle {
	padding: 0;
	width: 12px;
}
table.form-table th {
	word-wrap: break-word;
}

table.form-table table.sublanguage-sub-options th {
	padding: 0 8px;
}
table.form-table a.handle {
}
table.form-table tr.sub {
	display: none;
}
table.form-table tr.main-row:hover {
	background-color: #e4e4e4;
}

table.form-table tr.sub.open {
	display: table-row;
}
 */



ul.sublanguage-options li {
	line-height: 33px;
}
ul.sublanguage-options li ul {
	padding-left: 20px;
	display: none;
}
ul.sublanguage-options li.open>ul {
	display: block;
}
ul.sublanguage-options li a {
	display: block;
	border: none;
	text-decoration: none;
	color: black;
}
ul.sublanguage-options li .handle {
	width: 20px;
    display: inline-block;
    vertical-align: middle;
    visibility: hidden;
}
ul.sublanguage-options.loaded li .handle {
    visibility: visible;
}
ul.sublanguage-options li input {
	 vertical-align: middle;
	 margin-left: 10px;
}
ul.sublanguage-options li label {
	font-weight: bold;
}
ul.sublanguage-options li input.disabled {
	display: none;
}
ul.sublanguage-options.loaded li:not(.open):hover {
	background-color: #e4e4e4;
}
ul.sublanguage-options li .saving {
	color: #aaa;
}
ul.sublanguage-options li .saving .dashicons {
	vertical-align:middle;
}
   






